.input {
  padding: var(--gap);
  border: none;
  outline: none;
  border-radius: var(--radius);
  font-size: var(--font-regular);
  min-width: 0;
}

.input::placeholder {
  text-transform: capitalize;
}

.full {
  width: 100%;
}

.sm {
  max-width: 3rem;
}

.border {
  border: 1px solid var(--secondary);
}

.center {
  text-align: center;
}

.ast {
  color: var(--color-destroy);
  font-weight: 400;
}

.label {
  font-size: var(--font-small);
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
