.input {
  padding: var(--gap);
  border: none;
  outline: none;
  border-radius: var(--radius);
  font-size: var(--font-regular);
  min-width: 0;
}

.full {
  width: 100%;
}

.border {
  border: 2px solid var(--blue);
}

.center {
  text-align: center;
}
