.checkout {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.checkout_wrapper {
  display: flex;
  gap: var(--gap);
}

.checkout_col {
  flex: 1;
}

.checkout_col {
  padding: var(--gap);
}

.checkout_products {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) #fff;
}

.delivery_time {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

.location {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.location,
.delivery_time {
  margin-top: calc(var(--gap));
  margin-bottom: calc(var(--gap) * 2);
}

/* Select styles */
.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.input {
  background-color: transparent;
  padding: var(--gap);
  border: none;
  outline: none;
  border-radius: var(--radius);
  font-size: var(--font-regular);
  min-width: 0;
}

.full {
  width: 100%;
}

.border {
  border: 1px solid var(--secondary);
}

.ast {
  color: var(--color-destroy);
  font-weight: 400;
}

.label {
  font-size: var(--font-small);
  font-weight: 600;
  text-transform: capitalize;
}
