.button {
  width: fit-content;
  text-transform: capitalize;
  padding: var(--gap);
  font-size: var(--font-regular);
  border: none;
  outline: none;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  min-width: 120px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button_icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.primary {
  background-color: var(--blue);
  color: #fff;
}

.primary:hover {
  background-color: var(--blue-variant);
}

.full {
  width: 100%;
}
