.login_modal {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.tooltip {
  text-transform: capitalize;
  font-size: var(--font-small);
}

.ast {
  color: var(--color-destroy);
  font-weight: 400;
}
