.nav {
  background-color: var(--secondary-variant);
}

.navbar_wrapper {
  padding-top: var(--gap);
  padding-bottom: var(--gap);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.search_bar {
  flex: 3;
  background-color: #fff;
  display: none;
  align-items: center;
  border-radius: var(--radius);
  border: 2px solid var(--blue);
  overflow: hidden;
}

.search_icon {
  width: 35px;
  height: fit-content;
  object-fit: contain;
  padding: var(--gap);
  cursor: pointer;
}

.cart_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart_wrapper .col {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: var(--gap);
  cursor: pointer;
}

.cart {
  position: relative;
}

.total_number {
  font-size: calc(var(--font-regular) / 1.2);
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
  right: -5px;
  background-color: var(--blue);
  border-radius: 50%;
}

.total_amount {
  font-weight: 800;
  color: var(--primary-variant);
  display: none;
}

@media (min-width: 1200px) {
  .search_bar {
    display: flex;
  }

  .total_amount {
    display: block;
  }
}
