.section {
  margin-top: calc(var(--gap) * 2);
  margin-bottom: calc(var(--gap) * 2);
}

.section_content {
  margin-top: calc(var(--gap) * 3);
  margin-bottom: calc(var(--gap) * 3);
}

@media (min-width: 640px) {
  .section_title {
    font-size: var(--header);
  }
}
