.features {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: var(--gap);
}

@media (min-width: 640px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .features {
    grid-template-columns: repeat(4, 1fr);
  }
}
